<%= form_with model: [ @restaurant, @restaurant.comments.build ] do |form| %>
  <div>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </div>
  <div>
    <%= form.label :comment %><br>
    <%= form.text_area :comment %>
  </div>
  <div>
    <%= form.label :note, "1", :value => "1"  %>
    <%= form.radio_button :note, 1 %>
    <%= form.label :note, "2", :value => "2"  %>
    <%= form.radio_button :note, 2 %>
    <%= form.label :note, "3", :value => "3"  %>
    <%= form.radio_button :note, 3 %>
    <%= form.label :note, "4", :value => "4"  %>
    <%= form.radio_button :note, 4 %>
    <%= form.label :note, "5", :value => "5"  %>
    <%= form.radio_button :note, 5 %>
  </div>
  <%= form.submit %>
<% end %>
